<!DOCTYPE html>

<html>

<head>
	<title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="icon" href="/img/weather.png">
  
</head>

<body>
	<div class="main-content">
    {{>header}}
    
    <p>Use this to get your weather</p>
    <form>
    	<input placeholder="Enter Location">
    	<button>Search</button>
    </form>
    <p id="Locationdata"></p>
    <p id="Weatherdata"></p>
    <p id="Location_time"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>